[Unit]
Description=OpenNTP daemon
Documentation=man:openntpd(8) man:ntpd.conf(5)
After=network.target
 
[Service]
Type=forking
ExecStart=/usr/sbin/openntpd

[Install]
WantedBy=multi-user.target
