[Desktop Entry]
Encoding=UTF-8
Name=TeamSpeak 3
GenericName=TeamSpeak
Comment=TeamSpeak is software for quality voice communication via the Internet
Exec=teamspeak3
Icon=/usr/share/icons/hicolor/96x96/apps/teamspeak3.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;Application
StartupWMClass=TeamSpeak 3
